extends layout

block content
  div(style="display:flex;flex-direction:column;align-items:center;")
    .posts
      if user
        a(href="/post/create" style="display:flex;align-items:center;gap:1rem;" class="btn secondary-btn").
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
          Add a new post
      for post in posts
        .post
          h2= post.title
          .post-meta
            if user && (user.isMember || user._id.toString() == post.author._id.toString())
              p= post.createdAtRelative
              p= post.author.fullName
            else
              p(style="display:flex;align-items:center;gap:0.2rem;") Annonymous
                a(href="/club/join") <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
          p= post.text