extends layout

block content
    form(action="" method="POST")
        h2 #{title}
        label(for="password") Password:
        input(type="password" id="password" name="password")
        button(type="submit") Submit