doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    header
      h1 Club House
      if(user)
        a(href="/logout") Logout
      else
        .btns-container
          a(href="/login") Login
          a(href="/signup") Signup
    main
      block content