extends layout

block content
    form(action="" method="POST")
        .form-control
            label(for="title") Title:
            input(type="type" id="title" name="title")
        .form-control
            label(for="text") Text:
            textarea(id="text" name="text")
        button(type="submit") Submit